#login {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1100;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.25);
}
#Booking {
    height: 100vh;
    background-repeat: repeat;
    max-width: 700px;
}
.bgbox {
    width: 50%;
    border: 0;
    padding: 0;
    margin: 0;
}
#calendar {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 90%;
    width: 90%;
    margin: auto;
    max-width: 400px;
    transform: translate(-0%, -50%);
    background-color: rgba(255, 255, 255, .8);
    display: block;
    box-sizing: border-box;
    z-index: 250;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 450;
}

.triangle {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2em;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid rgba(172,148,232,0.5); /* Replace #007bff with your desired triangle color */
  transform: rotate(-45deg);
  right: -50px;
}

.content {
  position: relative;
  background-color: rgba(172,148,232,0); /* Replace #007bff with your desired background color */
  color: #ffffff; /* Replace #ffffff with your desired text color */
  border-radius: 8px;
  margin-bottom: 20px;
  bottom: 80px;
  text-align: center;
  padding-right: 45px;
  left: -45px;
}

.content:nth-child(2) {
  left: -30px;
}

