* {
    margin: 0;
    padding: 0;
}
.imgbox {
    background-color:#FFFFFF;
    border: none;
    margin-top: 3em;
}
.header-box {
    display: flex;
    flex-flow: row wrap;
}
.header-image {
    flex: 1;
}
.header-image > img {
    width: 100%;
    height: auto;
    padding-left: 20px;
}
.header-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 17px;
    padding-right: 20px;
    font-size: 16px;
    color: #7e7ea0;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
section {
    min-width: 300px;
    overflow: hidden;
    height: 100vh;
}
.neo-section {
    display: none;
    width: 100%;
}
.active-pamphlet {
    display: block;
}
.template-pamphlet {
    display: none;
}
.brochure h1 {
    font-size: 40px;
}
.brochure {
    font-size: 16px;
    color: #7e7ea0;
    min-height: 1.25em;
    line-height: 1.25;
}
.brochure {
    font-family: "Times New Roman", Times, serif;
    background-color: #FFFFFF;
    border: none;
    min-height: 1.25em;
    line-height: 1.25;
    align-items: flex-start;
    position: relative;
    left: 20%;
    overflow: hidden;
}
.brochure:first-child {
    left: 0;
}
.brochure a {
    min-height: 1.25em;
    line-height: 1.25;
    color: #7e7ea0;
}
.brochure a img {
}

a:-webkit-any-link {
    text-decoration: none;
}
#Prices {
   margin-left: 10%;
   margin-right: 10%;
}
.prices {
    background-color: #FFFFFF;
}
.pamplet-margin {
    background-color: #FFFFFF;
    display: none;
}
.pamphlet {
    background-color: #FFFFFF;
    float: left;
}
.pageimage {
    height: 100vh;
}
.neoicon {
    max-height: 40px;
    flex: 1 1 auto;
}
#Home,#Services {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 550px;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-center;
    margin: 20px;
    padding-bottom: 30%;
    padding-top: 60px;
}
.widewindow {
    display: none;
    height: 100%;
    width: 100%;
}
.wideportal {
    display: none;
    position: absolute;
    top: 0;
    margin-left: 550px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 250;
    overflow: hidden;

}
.wideobject {
    height: 100%;
    width: 100%;
}
.container::-webkit-scrollbar {
  display: none;
}
span {
  position: relative:
  left: 20%;
  white-space: nowrap;
}
#rightpanel {
}
.neoflex {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: 10px;
}

.neoflex > .neotext {
    transform: translateY(0.75em);
    white-space: nowrap;
}

.neoflex > div > h2 {
    transform: translateX(1em);
}

.banner {
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  overflow: hidden;
}

.banner a {
  display: inline-block;
  color: #000000;
  font-size: 1.5em;
  text-decoration: none;
  animation: scrollBanner 15s linear infinite;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes scrollBanner {
  0% {
    transform: translateX(550px);
  }
  100% {
    transform: translateX(-100%);
  }
}

#scrollButton {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  max-width: 550px;
  opacity: 0.25;
  transition: opacity 2s;
}

#scrollButton > i {
    font-size: 2em;
    color: grey;
}

#scrollButton.show {
  opacity: 1;
}
