* {
    margin: 0;
    padding: 0;
}
.imgbox {
    background-color:#FFFFFF;
    border: none;
    margin-top: 10px;
}
.imgbox h2 {
    font-size: 16px;
    color: #7e7ea0;
    text-align: center;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
section {
    min-width: 300px;
    overflow: hidden;
}
.neo-section {
    display: none;
    width: 100%;
}
.brochure h1 {
    font-size: 40px;
}
.brochure {
    font-size: 16px;
    color: #7e7ea0;
    min-height: 1.25em;
    line-height: 1.25;
}
.brochure {
    font-family: "Times New Roman", Times, serif;
    background-color: #FFFFFF;
    border: none;
    min-height: 1.25em;
    line-height: 1.25;
    float: left;
    align-items: flex-start;
    position: relative;
    left: 20%;
    overflow: hidden;
}
.brochure a {
    min-height: 1.25em;
    line-height: 1.25;
    color: #7e7ea0;
}
.brochure a img {
}

a:-webkit-any-link {
    text-decoration: none;
}
#Prices {
   margin-left: 25px;
   margin-right: 10%;
}
.prices {
    margin-left: 10px;
    float: right;
    background-color: #FFFFFF;
}
.pamplet-margin {
    background-color: #FFFFFF;
    display: none;
}
.pamphlet {
    background-color: #FFFFFF;
    float: left;
}
.pageimage {
    height: 100vh;
}
.neoicon {
    max-height: 40px;
    flex: 1 1 auto;
}
#Home,#Services {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 550px;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-center;
    margin: 0;
}
.widewindow {
    display: none;
    height: 100%;
    width: 100%;
}
.wideportal {
    display: none;
    position: absolute;
    top: 0;
    margin-left: 550px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 250;
    overflow: hidden;
    transition: all 1s ease;
}
.wideobject {
    height: 100%;
    width: 100%;
}
.container::-webkit-scrollbar {
  display: none;
}
span {
  position: relative:
  left: 20%;
  white-space: nowrap;
}
